.popup__close-button {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background: center center no-repeat url('../../../images/close_icon.svg') transparent;
  transition: opacity .3s;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .2s;
}

.popup__close-button:focus {
  outline: #5982fa 3px solid;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    background-image: url('../../../images/close_icon-320.svg');
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
