.header {
  width: 880px;
  padding: 45px 0 36px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    padding: 28px 0 26.5px;
  }
}
