.popup__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 358px;
  margin: 34px 0 49px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 21.8px;
    margin: 25px 0 75px;
  }
}
