.header__email {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .header__email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 425px) {
  .header__email {
    width: calc(100% - 110px);
  }
}