.header__nav {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0 24px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__nav {
    gap: 0 10px;
    margin-right: 8.4%;
  }
}
